 <persistence xmlns="http://java.sun.com/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
	version="2.0">
	<persistence-unit name="sample" transaction-type="JTA">
		<!--provider>org.apache.openjpa.persistence.PersistenceProviderImpl</provider-->
		<provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>

		<class>org.wso2.carbon.rssmanager.core.dto.common.DatabasePrivilegeTemplate</class>
		<class>org.wso2.carbon.rssmanager.core.dto.common.UserDatabaseEntry</class>
		<class>org.wso2.carbon.rssmanager.core.dto.common.UserDatabasePrivilege</class>
		<class>org.wso2.carbon.rssmanager.core.dto.common.DatabasePrivilegeTemplateEntry</class>
		<class>org.wso2.carbon.rssmanager.core.dto.restricted.DatabaseUser</class>
		<class>org.wso2.carbon.rssmanager.core.dto.restricted.Database</class>
		<class>org.wso2.carbon.rssmanager.core.dto.restricted.RSSInstance</class>
		<class>org.wso2.carbon.rssmanager.core.environment.Environment</class>

		<properties>
			
			<property name="eclipselink.transaction.join-existing" value="true" />
			<property name="eclipselink.target-server" value="com.atomikos.eclipselink.platform.AtomikosPlatform" />
			<property name="eclipselink.ddl-generation" value="create-or-extend-tables" />
			 <property name="eclipselink.logging.level.sql" value="SEVERE"/>
 			<property name="eclipselink.logging.parameters" value="true"/>
			<property name="eclipselink.target-database" value="org.eclipse.persistence.platform.database.HSQLPlatform"/>
			<property name="eclipselink.jdbc.batch-writing" value="JDBC"/>





			<!--property name="openjpa.ConnectionFactoryMode" value="managed" />
			<property name="openjpa.TransactionMode" value="managed" />
			<property name="openjpa.ManagedRuntime"	value="jndi(TransactionManagerName=java:comp/TransactionManager)" />
			<property name="openjpa.ConnectionDriverName" value="org.h2.jdbcx.JdbcDataSource" />
			<property name="openjpa.jdbc.SynchronizeMappings" value="buildSchema(Sequences=false)"/>
			<property name="openjpa.DynamicEnhancementAgent" value="false"/> 
			<property name="openjpa.RuntimeUnenhancedClasses" value="unsupported"/>
			<property name="openjpa.AutoDetach" value="close,commit"/>
			<property name="openjpa.ConnectionRetainMode" value="transaction"/>
			<property name="dialect" value="org.apache.openjpa.jdbc.sql.H2Dictionary" />
			<property name="openjpa.jdbc.DBDictionary" value="batchLimit=25"/>
			<property name="openjpa.jdbc.UpdateManager" value="operation-order" />			
			<property name="openjpa.Log" value="DefaultLevel=ERROR"/>
			<property name="openjpa.QueryCompilationCache" value="all"/>
                        <property name="openjpa.OrphanedKeyAction" value="exception"/>
                        <property name="openjpa.InverseManager" value="true"/>
                        <property name="openjpa.FlushBeforeQueries" value="false"/-->
			<!--property name="openjpa.AutoClear" value="all"/>
			<property name="openjpa.jdbc.TransactionIsolation" value="repeatable-read"/>
			<property name="openjpa.BrokerImpl" value="non-finalizing" />
			<property name="openjpa.QueryCache" value="false"/>
			<property name="openjpa.DataCache" value="false"/>
			<property name="openjpa.QueryCompilationCache" value="false"/>
			<property name="openjpa.DataCache" value="true(CacheSize=5000, SoftReferenceSize=0, EvictionSchedule='+1')"/-->
		</properties>
	</persistence-unit>
</persistence> 
